<!-- CheckIn/Index.cshtml -->
<h1>Select Service Type</h1>
<form asp-action="CheckIn" method="post">
    <button type="submit" name="serviceType" value="ServiceA">Service A</button>
    <button type="submit" name="serviceType" value="ServiceB">Service B</button>
 
</form>